<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
Coming Soon...
<script>
    let movies = [
        {
            douyin: '',
            cover: '',
            movie: [
                {
                    name: '',
                    point: '',
                    time: '',
                    video: [
                        {
                            icon: 'thunder',
                            link: ''
                        },
                        {
                            icon: 'baiduyun',
                            link: ''
                        },
                        {
                            icon: 'youku',
                            link: ''
                        },
                        {
                            icon: 'aqiyi',
                            link: ''
                        },
                        {
                            icon: 'tencent',
                            link: ''
                        },
                        {
                            icon: 'bilibili',
                            link: ''
                        },
                    ],
                }
            ],
            music: {
                netease: '',
                qq: '',
                xiami: '',
            },
            date: ''
        }
    ]
</script>
</body>
</html>